!!! 5
%head
  %meta(charset='utf-8')
  %title hatemogi.com#{item[:title] && ": #{item[:title]}" || ''}
  %script(src="/js/jquery-1.7.1.min.js" type="text/javascript")
  %script(src="/js/application.js" type="text/javascript")
  %script(src="/js/google-code-prettify/prettify.js" type="text/javascript")
  %script(src="//platform.twitter.com/widgets.js")
  %link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
  %link(rel="stylesheet" type="text/css" href="/css/prettify.css")
%body(style="padding-top: 50px;")
  #fb-root
  .container
    %section#navigation
      .topbar-wrappper
        .topbar
          .topbar-inner
            .container
              %a.brand(href="/") hatemogi.com
              -# %ul.nav
              -#   %li
              -#     %a(href="/about/") about
              -#   %li
              -#     %a(href="/posts/") posts
              -#   %li
              -#     %a(href="/guestbook/") guestbook
              %ul.secondary-nav
                %li
                  %a(href="http://blog.hatemogi.com/") 이전블로그
                %li
                  -# %a(href="http://twitter.com/hatemogi") @hatemogi
                %li
    %section#main-content
      - if item[:kind] == 'article'
        .row
          .span10><
            - content_for :body do
              ~ yield 
            ~ render 'article', :article => item, :width => 550
      - else
        .row
          .span10>= yield
    %footer(style="padding-bottom: 20px'")
      .pull-right
        Copyright © 2011 hatemogi
      %a.twitter-follow-button(href="https://twitter.com/hatemogi" data-show-count="false") Follow @hatemogi
    %script
      $(prettyPrint);
