@media (min-width: 980px) {
    body {
        padding-top: 50px;
    }
}

div.page-header {
  padding-bottom: 0px;
}

div.article-footer {
  margin: 20px 0;
}

h2 {
  margin: 7px 0;
}

h3 {
  margin: 5px 0;
}

code {
    background-color: transparent;
}

pre code {
    border: none;
}

footer {
    border-top: 1px solid #efefef;
    padding: 20px;
}